/***********
global
/***********/
* {
	/*border: 1px solid black;*/
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: blue;
}
a:link {color: blue;}
a:hover {color: red;}

/************
BACKGROUND, contains all that follows
************/
.site {
	max-width: 265px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/*************
HEADER
.header is wrapper
.title is SITE title
.pagename is page title
**************/
.header {
	text-align: center;
}

.title {
	font-family: "Courier New", courier, monospace;
	margin-bottom: .5em;
}

.pagename {font-family: "Alegreya Sans 100", sans-serif;
			font-weight: 100;
		}

/**************
MAIN content
.content is wrapper
.home is index page, 
.post is posts
/**************/

.content {
	float: left;
}

.home {
	width: 100%;
	max-width: 265px;
	position: relative;
}

.home h2 {
	position: absolute;
	bottom: 02%;
	color: white;
	padding-left: 3%;
	font-family: "Alegreya Sans 100", sans-serif;
	font-weight: 100;
}
.post {
	width: 100%;
	border-top: 1px solid gray;
	margin-top: 7%;
	padding: 3%;
	text-align: justify;
	font-family: "Courier New", courier monospace;
}

.post h1,h2,h3,h4,h5 {
	text-align: center;
	padding-bottom: 3%;
}

.post p {
	padding: 1% 1%;
}

.post ul {
	text-indent: 2%;
	list-style-position: inside;
}
/*********
Nav block
.nav is wrapper
.pages is list of pages
***********/
.nav {
	border-top: 1px solid gray;
	float: left;
	width: 100%;
	margin-bottom: 5%;
	padding: 2% 2%;
	font-family: "Alegreya Sans 100", sans-serif;
	font-weight: 100;
}

.pages {
	padding-top: 5%;
	text-align: center;
	list-style-type: none;
}

/***********
FOOTER
.footer is the wrap
************/
.footer {
	clear: both;
	width: 100%;
	text-align: center;
	font-family: "Alegreya Sans 100", sans-serif;
	font-weight: 100;
	border-top: 1px solid gray;
	margin-top: 5%;
}
/***********
MEDIA QUERIES
*************/

@media (min-width: 700px) {

.site {
	max-width: 850px;
}

.nav {
	border-top: none;
	display: inline;
	width: 30%;
}

.content {
	display: inline;
	width: 60%;

}
.home {
	border: 1px solid black;
	display: inline;
}

}










