/***********
global
/***********/
* {
/*	border: 1px solid black;
*/	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: blue;
}
a:link {color: blue;}
a:hover {color: red;}

/************
BACKGROUND, contains all that follows
************/
.site {
/*	max-width: 265px;
*/	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

/*************
HEADER
.header is wrapper
.title is SITE title
.pagename is page title
**************/
.header {
	text-align: center;
}

.title {
	font-family: "Nobile", sans-serif;
	margin-bottom: .5em;
}

.pagename {	
	font-family: "Nobile", sans-serif;
		}

/**************
MAIN content
.content is wrapper
.post is posts
/**************/

.content {
	width: 100%;
}

.homepage {
	width: 90%;
	height: 90%;
	position: relative;
	text-align: center;
}

.post {
	width: 100%;
	margin-top: 7%;
	padding: 3%;
	text-align: justify;
	font-family: "Courier New", courier monospace;
}

.post h1,h2,h3,h4,h5 {
	text-align: center;
	padding-bottom: 3%;
}

.post p {
	padding: 1% 1%;
}

.post ul {
	text-indent: 2%;
	list-style-position: inside;
}

/*********
Nav block
.nav is wrapper
.pages is list of pages
***********/
.nav {
	width: 100%;
	margin-bottom: 5%;
	padding: 2% 2%;
	font-family: "Nobile", sans-serif;
	font-weight: 100;
	margin: auto;
}

.pages {
	width: 75%;
	padding-top: 5%;
	text-align: center;
	list-style-type: none;
/*	border: 1px solid black;
*/}

.pages li {
	border-width: 100px;
/*	border-image: url(/images/danielolasky_head.jpg) 25% 50% 50% 25% stretch;
*/	margin: 4%;
}
/***********
FOOTER
.footer is the wrap
************/
.footer {
	clear: both;
	width: 100%;
	text-align: center;
	font-family: "Nobile", sans-serif;
	font-weight: 100;
	border-top: 1px solid gray;
	margin-top: 5%;
}
/***********
MEDIA QUERIES
*************/

@media (min-width: 700px) {

* {
	margin: 1%;
}
.site {
	max-width: 1200px;
}

.header{
	max-width: 650px;
}

.nav {
	border-top: none;
	display: inline;
	width: 30%;
	float: left;
}

.content {
	float: left;
	display: inline;
	width: 60%;
}

.pagename {
text-align: center
}

.post {
	width: 60%;
	border-width: 75px 75px 75px 75px;
	border-image: url(/images/danielolasky_head.jpg) 25% 50% 50% 25% stretch;
}

.post h1,h2,h3,h4,h5 {
	text-align: left;

}










