* {
  margin: 0;
	padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: "Courier New", courier, monospace;
  font-size: small;
  text-align: center;
}

h1 { margin-bottom: 1em; }

p { margin: 1em 0; }

a {
	text-decoration: none;
	color: black;
}
a:hover   {color: blue;}
a:visited {color: red;}

/*************************************************
/* Home
/*
/**********************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.post {
  float: left;
  width: 90%;
  padding-top: 2%;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  margin: 3em 3em 2em 3em;
  line-height: 1.5em;
}


/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

.header {
	width: 100%;
}
 .header a {
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.title {
  display: block;
}

/*.title a {
  color: black;
}

.title a:hover {
  color: blue;
}

.header a.extra {
  color: red;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
*/}

.meta {
  color: #aaa;
}

  /* Header Clearfix */
 .header:after { 
  visibility: hidden;
  content:"";
  display: block;
  height: 0;
  clear: both;
  }
/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/
.content{
  float: left;
  width: 65%;
  display: inline;
}

.home {
	float: left;
  position: relative;
  width: 100%;
}

.image {
	/*position: relative;*/
	width: 100%;
}

.home h2 {
	position: absolute;
	color: white;
	padding: 25px;
	bottom: 10px;
  width: 100%;
  text-align: left      !important;
}

/*****************************************************************************/
/*
/* Nav
/*
/*****************************************************************************/
.nav {
  float: left;
  width: 30%;
  color: black;
  padding: 1%;
  display: inline;
}
/*.posts a {
  text-decoration: none;
  color: black;
}
a:hover   { color: blue; }
a:visited { color: red; }
*/

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  text-align: center;
  overflow: hidden;
  clear: both;
  width: 100%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/


