h1, h2, h3, h4, h5 {
	color: #305797;	
	font-family: sans-serif;
}
body {
	background: #FFFEF0;
	}
div.buttons{
	background-color: #E84C4C;
	border-style: solid;
	border-color: #E84C4C;
	display: inline;
	margin: 1em;
	padding: 1em;
	width: 150px;
	font-size: 1em;
	font-family: sans-serif;
}
div.blogpost {
	border:solid;
	margin: 1.5em;
	padding: 1em;
}
p {
	font-family: sans-serif;
}
li {
	text-indent: 1em
	font-style: italic;
}
