            <div class="contact">
              <p>
                Daniel Olasky<br />
                Software Engineer<br/ >
                Web Developer<br />
                danielolasky at gmail
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/delasky">github.com/delasky</a><br />
                <a href="https://twitter.com/sonofaplum">twitter.com/sonofaplum</a><br />
                <a href ="https://www.linkedin.com/pub/daniel-olasky/89/282/232">LinkedIn</a>
              </p>
            </div>